* {
  padding: 0;
  margin: 0;
  border: 0;
}
.Media {
  display: flex;
  flex-direction: column;
  max-width: 264px;
}
.text-comp {
  margin: 5px 0px;
}
#childMedia {
  display: flex;
  flex-direction: column;
  max-width: 264px;

}
#img-com-1 {
  margin: auto;
  height: 160px;
  width: 260px;
}
